<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/order.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
    <%- include('includes/navbar.ejs') %>

    <main class="main-content">
        <section class="page-header">
            <div>
                <h1>จัดการออเดอร์</h1>
                <p>ติดตามสถานะการจัดส่ง และจัดการรายการคำขอคลังสินค้า</p>
            </div>
            <div class="search-filter">
                <div class="input-wrapper">
                    <span class="material-symbols-outlined icon">search</span>
                    <input type="text" class="form-control" placeholder="ค้นหา...">
                </div>
                <div>
                    <button onclick="openShowInventory('showInventoryModal')" class="btn-primary" style="width: auto; padding: 10px 20px; margin-top: 0;">
                        <span class="material-symbols-outlined">add_notes</span>เพิ่มออเดอร์
                    </button>
                </div>
            </div>
        </section>

        <section class="stats-grid">
            <div class="stat-card">
                <div class="stat-title">รอการอนุมัติ</div>
                <div class="stat-info">
                    <h2><%= stats["รอการอนุมัติ"] %></h2>
                    <span class="material-symbols-outlined" style="font-size: 24px; color: var(--info);">pending_actions</span>
                </div>
            </div>
            <div class="stat-card">
                <div class="stat-title">กำลังเตรียมสินค้า</div>
                <div class="stat-info">
                    <h2><%= stats["กำลังเตรียมสินค้า"] %></h2>
                    <span class="material-symbols-outlined" style="font-size: 24px; color: var(--warning);">shopping_cart</span>
                </div>
            </div>
            <div class="stat-card">
                <div class="stat-title">รอการจัดส่ง</div>
                <div class="stat-info">
                    <h2><%= stats["รอการจัดส่ง"] %></h2>
                    <span class="material-symbols-outlined" style="font-size: 24px; color: var(--success);">local_shipping</span>
                </div>
            </div>
            <div class="stat-card">
                <div class="stat-title">สินค้าออกจากโกดัง</div>
                <div class="stat-info">
                    <h2><%= stats["สินค้าออกจากโกดัง"] %></h2>
                    <span class="material-symbols-outlined" style="font-size: 24px; color: var(--warning);">delivery_truck_speed</span>
                </div>
            </div>
        </section>

        <section class="table-container">
            <table class="custom-table">
                <thead>
                <tr>
                    <th>หมายเลขใบเบิก</th>
                    <th>สร้างขึ้นเมื่อเวลา</th>
                    <th>รายการที่เบิก</th>
                    <th>ผู้เบิก</th>
                    <th>สถานะ</th>
                    <th>จำนวน</th>
                    <th>รายละเอียดออเดอร์</th>
                </tr>
                </thead>
                <tbody>
                    <% orders.forEach(order => { %>
                        <tr>
                            <td> <%= order.order_id %> </td>
                            <td>
                            <%= new Date(order.timestamp).toLocaleString("th-TH", {
                                day: "numeric",
                                month: "short",
                                year: "numeric",
                                hour: "2-digit",
                                minute: "2-digit"
                            }) %>
                            </td>
                            <td> <%= order.product_name %> </td>
                            <td> <%= order.user_name %> </td>
                            <td> <%= order.status %> </td>
                            <td> <%= order.order_quantity %> </td>
                            <td> <%= order.detail %> </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </section>
    </main>

    <!-- Overlay สำหรับโชว์รายการสินค้าทั้งหมด เพื่อสร้าง Order อีกที -->
    <section class="modal-overlay" id="showInventoryModal">
        <div class="modal-box show-inventory-box">
            <h2 id="modalProductName" style="margin-bottom: 5px; font-size: 20px;">รายการสินค้าทั้งหมดที่สามารถเพิ่มได้</h2>
            <!-- <form id="orderForm" method="POST" action="/orders/add"> -->
            <table>
                <thead>
                    <tr>
                        <!-- ตามใน Inventory เลย -->
                        <th>รายละเอียดสินค้า</th>
                        <th>รหัสสินค้า</th>
                        <th>จำนวน</th>
                        <th>สร้างออเดอร์</th>
                    </tr>
                </thead>
                <tbody id="inventoryTableBody">
                </tbody>
            </table>
        </div>
    </section>

    <!-- Overlay สำหรับการใส่ Quantity เพื่อสร้าง Order ของสินค้านั้น -->
    <section class="modal-overlay" id="addOrderModal">
        <div class="modal-box">
            <h2 id="modalProductName" style="margin-bottom: 5px; font-size: 20px;">รายการสินค้า</h2>
            <p>เลือกจำนวนที่สินค้าสำหรับออเดอร์</p>
            <form id="addOrderForm" method="POST">
            <!-- action="/orders/add-orders/:id" เพิ่ม action ใน function-->
                <img id="addOrderImg">
                <h4 id="addOrderName"></h4>
                <h4 id="addOrderQty"></h4>
                <div>
                    <label class="modal-label" for="inputQuantity">จำนวนที่ต้องการเบิกในออเดอร์</label>
                    <input type="number" id="addMaxQuantity" name="inputQuantity" required min="1" class="form-control modal-input">
                </div>
                <div>
                    <label class="modal-label" for="detail">รายละเอียดที่เขียนในใบออเดอร์</label>
                    <input type="text" id="" name="detail" class="form-control modal-input" placeholder="โปรดระบุรายละเอียด">
                </div>
                <button type="submit">สร้างออเดอร์</button>
            </form>
        </div>
    </section>

    <script>
        async function openShowInventory() {
            const response = await fetch('/orders/add-orders');
            const inventory = await response.json();
            const tableBody = document.getElementById("inventoryTableBody");
            tableBody.innerHTML = ""; //เคลียร์ body ก่อน
            inventory.forEach((row) => {
                    tableBody.innerHTML += `
                        <tr>
                            <td>${row.name}</td>
                            <td>${row.sku}</td>
                            <td>${row.quantity}</td>
                            <td><button onclick="showProduct(${row.id})">+</button></td>
                        </tr>
                        `
            });
            openModal("showInventoryModal");
        }

        async function showProduct(itemId) {
            const response = await fetch(`/api/product/${itemId}`);
            const inventory = await response.json();

            document.getElementById("addMaxQuantity").max = inventory.quantity;
            document.getElementById("addMaxQuantity").value = 1; //Reset default quantity
            document.getElementById("addOrderForm").action = `/orders/add-orders/${itemId}`;
            document.getElementById("addOrderImg").src = inventory.image;
            document.getElementById("addOrderName").innerHTML = inventory.name;
            document.getElementById("addOrderQty").innerHTML = inventory.quantity;

            closeModal("showInventoryModal");
            openModal("addOrderModal");
        }

        function openModal(modalId) {
            const modal = document.getElementById(modalId);
            modal.style.display = 'flex';
            modal.classList.add('active'); // เผื่อ style.css ต้องการ class นี้
        }

        function closeModal(modalId) {
            const modal = document.getElementById(modalId);
            modal.style.display = 'none';
            modal.classList.remove('active');
        }

        window.onclick = function (event) {
            if (event.target.classList.contains('modal-overlay')) {
                closeModal(event.target.id);
            }
        }
    </script>
</body>
</html>